extends ../base

block title
  | Inicio

block content
  .home
    .home-principal
      .line
      .home-principal-content
        p Las mejores raquetas para <br> jugar <span>Tennis</span>
        button
          span acerca de nosotros
          img(src="img/arrow-white.svg")
    .home-text
      .home-text-title Raquetas.Accesorios.<br>Pelotas.
      .home-text-action
        .home-text-subtitle Conoce nuestras raquetas y aprende a jugar <br> Tennis cómo un profesional.
        button
          | Historia
          img(src="img/arrow-black.svg")
    .home-carrousel
      .home-carrousel-left
        .home-carrousel-text
          .home-carrousel-title Nuestras <br> <span>Raquetas</span>
          .home-carrousel-subtitle Conoce nuestras raquetas y aprende a jugar Tennis cómo un profesional.
          .home-carrousel-dots
            div#dotOne
            div#dotTwo
            div#dotThree
            div#dotFour
          .home-carrousel-nav
            div#prev
              img#inverted(src="img/carrousel-triangle.svg")
            div#next
              img(src="img/carrousel-triangle.svg")
      .home-carrousel-images
        .home-carrousel-wrapper
          div
            .number 1
            img(src="img/raqueta.png")
          div
            .number 2
            img(src="img/raqueta.png")
          div
            .number 3
            img(src="img/raqueta.png")
          div
            .number 4
            img(src="img/raqueta.png")
    .home-banner
      img(src="img/athlete.jpg" srcset="img/athlete@2x.jpg 2x, img/athlete@3x.jpg 3x")







