html(lang='es')
  head
    title
      block title
    meta(content='width=device-width, initial-scale=1', name='viewport')
    meta(charset='utf-8')
    link(rel='icon', type='image/ico', href='img/favicon.ico')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap' rel='stylesheet')
  body
    nav.nav
      .nav-container
        div
          a(href='#')
            img.nav-logo(src='img/logo.svg' alt='Navbar logo')
        .nav-option-wrapper
          .nav-option-container
            .nav-option
              a(href='#').nav-option-link
                span Inicio
            .nav-option
              a(href='#').nav-option-link
                span Acerca de Nosotros
            .nav-option
              a(href='#').nav-option-link
                span Historia
            .nav-option
              a(href='faq.html').nav-option-link
                span Contacto
          .nav-option-container
            .nav-option
              a(href='#').nav-option-link
                span ES
            .nav-option
              a(href='#').nav-option-link
                span EN

        .hamburger-wrapper
          .hamburger-line-container#hamburgerMenu
            .hamburger-line
            .hamburger-line
            .hamburger-line
        .hamburger-menu-container#menuContainer
          .hamburger-menu
            .hamburger-menu-header
              a#hideHamburger
                img(src='img/close.svg')
            .hamburger-menu-body
              .hamburger-text-container
                a(href='#')
                  span.hamburger-text Inicio
              .hamburger-text-container
                a(href='#')
                  span.hamburger-text Acerca de nosotros
              .hamburger-text-container
                a(href='#')
                  span.hamburger-text Historia
              .hamburger-text-container
                a(href='#')
                  span.hamburger-text Contacto
    block content
    footer.footer
      img.footer-logo(src='img/logo.svg' alt='Footer logo')
      .footer-links
        a(href="#") Inicio
        a(href="#") Acerca de nosotros
        a(href="#") Historia
        a(href="#") Contacto
      .footer-icons
        a(href="#")
          img(src="img/linkedin.svg")
        a(href="#")
          img(src="img/vimeo.svg")
        a(href="#")
          img(src="img/instagram.svg")
        a(href="#")
          img(src="img/twitter.svg")
        a(href="#")
          img(src="img/facebook.svg")
