.home
  &-principal
    position relative
    background url(../../img/principal.jpg) no-repeat
    background-size cover
    width 100%
    padding-bottom 54.51%
    overflow auto
    @media $xs
      padding-bottom 75%
    &-content
      margin-left 12.01%
      margin-top 19.5%
      display inline-block
      position absolute
      @media $xs
        margin 0 auto
        width 100%
        text-align center
        top 0
        left 0
        bottom 0
        right 0
        display flex
        justify-content center
        align-items center
        flex-direction column

      p
        font-size remify(50)
        font-weight normal
        font-stretch normal
        font-style normal
        line-height 1.28
        letter-spacing remify(-0.05)
        color #ffffff
        @media $xs
          font-size remify(40)
        span
          color #cbe346
          font-weight $bold
      button
        height remify(53)
        width remify(234)
        border-radius remify(26.5)
        border solid 1px #fff
        text-transform uppercase
        background transparent
        color #fff
        font-size remify(13)
        line-height remify(28)
        letter-spacing 1.01
        font-weight $bold
        display flex
        align-items center
        justify-content space-around
        @media $xs
          margin remify(35) auto 0 auto
        img
          width 23px
          margin-left remify(5)
          margin-top remify(3)
    .line
      width 1px
      height 100%
      left remify(105)
      border-left solid 2px #ffffff
      position absolute
      z-index 2
      @media $xs
        display none
  &-text
    padding-top remify(92)
    background-color #f3f4f8
    padding-left 33.3333%
    padding-bottom remify(67)
    @media $lg
      padding-left 27%
    @media $xs
      padding-left 0
    &-title
      font-size remify(50)
      font-weight normal
      font-stretch normal
      font-style normal
      line-height 1.14
      letter-spacing remify(-0.06)
      color #1e2335
      position relative
      @media $xs
        text-align center
      &:before
        content "TENNIS"
        position absolute
        font-size remify(15)
        font-weight 500
        font-stretch normal
        font-style normal
        line-height 2
        letter-spacing remify(1.87)
        text-align right
        color #cbe346
        margin-left remify(-91)
        margin-top remify(10)
        @media $xs
          text-align center
          margin remify(-50) 32%
          font-size remify(25)

    &-subtitle
      font-size remify(18)
      font-weight normal
      font-stretch normal
      font-style normal
      line-height 1.78
      letter-spacing remify(0.51)
      color #787878
      margin-top remify(45)
      @media $xs
        text-align center
    &-action
      display flex
      align-items flex-end
      @media $xs
        flex-direction column
        align-items center
      button
        margin-left 11.25%
        margin-bottom remify(-13)
        height remify(53)
        width remify(234)
        border-radius remify(26.5)
        border solid 1px #282e47
        text-transform uppercase
        background transparent
        color #282e47
        font-size remify(13)
        line-height remify(28)
        letter-spacing 1.01
        font-weight $bold
        display flex
        align-items center
        justify-content space-around
        @media $xs
          margin remify(40) 0 0 0
        img
          width 23px
          margin-left remify(5)
          margin-top remify(3)
  &-carrousel
    display flex
    align-items center
    @media $xs
      flex-direction column
    &-left
      width 36.80%
      position relative
      background url(../../img/ball.png) no-repeat
      background-size cover
      padding-bottom 32.5%
      @media $xs
        width 100%
        padding-bottom 75%
    &-text
      position absolute
      right remify(40)
      top remify(35)
      width 60%
      @media $xs
        margin 0 auto
        width 50%
        text-align center
        top 0
        left 0
        bottom 0
        right 0
        display flex
        justify-content center
        align-items center
        flex-direction column
    &-title
      font-size remify(50)
      font-weight normal
      font-stretch normal
      font-style normal
      line-height 1.28
      letter-spacing remify(-0.06)
      color #ffffff
      span
        font-weight bold
      @media $lg
        font-size remify(45)
      @media $xs
        font-size remify(50)
    &-subtitle
      font-size remify(18)
      font-weight normal
      font-stretch normal
      font-style normal
      line-height 1.67
      letter-spacing remify(0.51)
      color #ffffff
      margin-top remify(15)
      @media $xs
        font-size remify(21)
    &-dots
      display flex
      margin-top remify(30)
      @media $xs
        width 50%
        justify-content space-evenly
      div
        width remify(8)
        height remify(8)
        margin-right remify(24)
        background-color #ebebeb
        border-radius 50%
        cursor pointer
        @media $xs
          margin-right 0
    &-nav
      display flex
      margin-top remify(35.2)
      div
        width remify(54)
        height  remify(54)
        margin 0 remify(19) 0 0
        object-fit contain
        border 1px solid white
        border-radius 50%
        display flex
        justify-content center
        align-items center
        cursor pointer
        @media $xs
          margin 0 remify(7)
        &:hover
          background-color #cbe346
          box-shadow 2px 5px 12px 7px rgba(0,0,0,0.4)
        img
          width 9px
        #inverted
          transform rotate(180deg)
    &-images
      width 63.2%
      @media $xs
        width 100%
    &-wrapper
      margin-left remify(52)
      @media $xs
        margin 0
      div
        position relative
      .number
        width remify(39)
        height remify(39)
        background-color #cbe346
        color white
        border-radius 50%
        text-align center
        line-height remify(39)
        position absolute
        top remify(11)
        left remify(17)
        @media $xs
          display none
      img
        width 110%
        @media $xs
          width 60%
          margin remify(40) auto
          display block
