.footer
  background-color #cbe346
  padding remify(64) 0 remify(58) remify(78)
  margin-top -2px
  position relative
  @media $xs
    padding remify(64) remify(78) remify(58) remify(78)
  &-logo
    position absolute
    width 55px
    height 55px
    right remify(63)
    @media $md
      height 37px
      width 37px
    @media $xs
      display none
  &-links
  &-icons
    display flex
  &-links
    @media $xs
      justify-content space-evenly
    a
      font-size remify(13)
      font-weight normal
      font-stretch normal
      font-style normal
      line-height normal
      letter-spacing remify(1.14)
      color #2b3049;
      margin-right remify(42)
      @media $xs
        font-size remify(16)
        margin-right 0
  &-icons
    margin-top remify(20)
    @media $xs
      justify-content space-evenly
    a
      margin-right remify(12)

