.nav
  left 0
  top 0
  background-color transparent
  position absolute
  width 100%
  z-index 12
  padding-left 36px
  padding-top 25px

  &-container
    align-items center
    display flex
    justify-content space-between
    height 100%

  &-logo
    width 37px
    height 37px

  &-option
    height 100%
    margin-right 15px
    position relative

    &-wrapper
      display flex
      justify-content space-between
      height 100%
      flex-basis 100%
      margin remify(19) remify(80) 0 remify(100)
    &-container
      align-items center
      display flex
      justify-content space-between
      height 100%

      &:first-child
        flex-basis 44.5%
        @media $lg
          flex-basis 60%

      &:last-child
        flex-basis 4.3%

    &-link
      height 100%
      display flex
      align-items center
      text-decoration none
      font-size 1.6em
      font-weight $semibold

      span
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.5px;
        color white
.hamburger
  display none

  &-menu-container
  &-wrapper
  &-submenu
    display none


@media screen and (max-width: 888px)
  .nav
    &-option-wrapper
      display none

  .hamburger
    &-wrapper
      display flex
      justify-content flex-end
      flex-grow 1
      height 100%

    &-line
      background-color white
      height 3px
      width 26px

      &:nth-child(2)
        margin 4px 0

      &:last-child
        width 12px

      &-container
        display flex
        flex-direction column
        justify-content center
        padding 0 1em
        margin-right 20px

    &-menu
      background-color #cbe346
      width 75%
      position absolute
      top 0
      bottom 0
      right 0

      &-container
        background white
        display inline
        bottom 0
        right 0
        overflow scroll
        padding-bottom 50px
        position fixed
        top 0
        transition width 0.3s, background 0.5s
        -webkit-transition width 0.3s, background 0.5s
        width 0
        z-index 13

      &-header
        align-items center
        display flex
        flex-direction row
        justify-content flex-end
        padding 22px 36px 50px 36px
        a
          width 20px
          cursor pointer
          img
            width 100%

      &-body
        margin 0 25px

    &-text
      color white
      letter-spacing 1.5px
      white-space nowrap
      font-size 17px

      &-container
        padding 15px 0

        a
          text-decoration none

#hamburgerMenu
  cursor pointer
